{{ define "main" }}
{{ $heroSlug := "" }}
{{ with default (index .Pages.ByDate.Reverse 0) (index (where .Pages.ByDate.Reverse "Params.isfeatured" true) 0) }}
{{ $heroSlug = .Slug }}
<section class="hero is-blog-list">
  <div class="hero-body">
    <div class="container is-flex">
      <div class="columns is-desktop is-vcentered">
        <div class="column is-half-desktop is-content">
          <h1 class="title is-vibe-heading">{{ .Title }}</h1>
          <p class="summary">
            <a href="{{ .URL }}">
              {{ .Summary }}
            </a>
          </p>
<!--          <div class="more"><a href="{{ .URL }}">[Read More]</a></div>-->
        </div>
        {{ with .Resources.GetMatch "cover.{jpg,png,jpeg}" }}
        <div class="column is-image">
          <figure class="image is-hero">
            <img src="{{ .RelPermalink }}" alt="{{ .Name }}" />
          </figure>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

<section class="section is-blog-list">
  <div class="container">
    <div class="columns is-multiline">
      {{ range (where .Pages.ByDate.Reverse "Slug" "!=" $heroSlug) }}
      <div class="column is-half-tablet is-one-third-desktop">
        <a href="{{ .RelPermalink }}">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                {{ $cover := .Resources.GetMatch "cover.{jpg,jpeg,png}" }}
                {{ if $cover }}
                {{ $src := $cover | resources.Fingerprint }}
                <img src="{{ $src.Permalink }}" alt="{{ $src.Name }}">
                {{ else }}
                {{ $default := resources.Get "img/blog/default-cover.png" | resources.Fingerprint }}
                <img src="{{ $default.Permalink }}" alt="{{ $default.Name }}">
                {{ end }}
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-vibe-heading">
                <h2>{{ .Title }}</h2>
                <p class="summary">
                {{ .Summary | plainify | safeHTML }}
                </p>
              </div>
              {{ $default := resources.Get "img/blog/arrow.png" | resources.Fingerprint }}
              <div class="more">Read More &nbsp; <img src="{{ $default.Permalink }}" alt="{{ $default.Name }}"></div>
            </div>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "blog/subscribe.html" . }}
{{ end }}
