{{ define "stylesheets" }}
{{ $sass := resources.Get "css/blog/styles.sass" }}
{{ $style := $sass | resources.ToCSS (dict "outputStyle" "compressed" "includePaths" (slice "node_modules")) | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity={{ $style.Data.Integrity }} />
{{ end }}
{{ define "main" }}
<section class="hero is-blog-content">
  <div class="hero-body">
    <div class="container has-text-white">
      <h1 class="title has-text-white">{{ .Title }}</h1>
      {{ with .Resources.GetMatch "cover.{jpg,png}" }}
      <figure class="image is-cover">
        <img src={{ .Permalink }} alt={{ .Name }} />
      </figure>
      {{ end }}
    </div>
  </div>
</section>

<section class="section is-blog-content">
  <div class="container">
    <div class="content">
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}
