// Distribute vertical paddings of blog copy (title and summary) to be 40:60
// Element with blog-hero-copy class must have exact 3 children:
// 1. a block element with class 'before-copy'
// 2. a block element with class 'copy-content'
// 3. a block element with class 'after-copy'
// The element must be put under .hero-body and take full height of .hero-body.
// The reason that CSS :before and :after is not used here is that in some case, we need to
// put stuff in top or bottom padding elements.
.blog-hero-copy
  +desktop
    display: flex
    flex-direction: column
    margin-top: -3rem  // eat 3rem padding-top of .hero-body
    margin-bottom: -3rem //eat 3rem padding-bottom of .hero-body
    > .before-copy
      flex: 2
      min-height: 4rem
    > .after-copy
      flex: 3
      min-height: 6rem

.hero.is-blog-list .title,
.hero.is-blog-post .title
  font-size: px-to-rem(45)
  margin-bottom: 1rem
  +widescreen
    font-size: px-to-rem(60)
    margin-bottom: 2rem
  +mobile
    font-size: px-to-rem(34)
