.section.is-blog-subscribe
  background: rgba(242, 242, 242, 0.3)
  height: 29rem
  display: flex
  align-items: center
  .container
    max-width: 35rem
    +mobile
      max-width: 100%
    .title
      line-height: 50px
      margin-bottom: 4rem
  .thank-you
    display: none
    text-align: center

  .subscribe-form
    .field
      justify-content: center

    .control
      box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08)
      border-radius: 6px
      &.is-email
        width: 380px
        margin: 0
        .input
          border-color: transparent
          box-shadow: none
          padding-left: 1.5rem
          &:hover
            +placeholder
              color: #333

      &.is-submit
        width: 180px

    input
      height: 64px
      font-size: px-to-rem(18)

      +mobile
        height: 48px

  .subscribe-form.is-submitted
    form
      display: none
    .thank-you
      display: inherit
