.section.is-blog-subscribe
  background: #FBFBFB
  padding: px-to-rem(80) 1.5rem
  +widescreen
    padding: px-to-rem(120) 1.5rem
  +mobile
    padding: px-to-rem(60) 1.5rem

  .container
    max-width: 560px
    +tablet-only
      max-width: 370px
    +desktop-only
      max-width: 380px

    .title
      text-align: center
      line-height: 50px
      margin-bottom: 4rem
      font-size: px-to-rem(22)
      line-height: 2rem
      +widescreen
        font-size: 2rem
        line-height: px-to-rem(50)

  .thank-you
    display: none
    text-align: center

  .subscribe-form
    .control
      box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08)
      border-radius: 6px

      &.is-email
        flex: 1
        .input
          border-color: transparent
          box-shadow: none
          padding-left: 1.5rem
          z-index: 1
          &:hover,
          &:active,
          &:focus
            +placeholder
              color: #333

      &.is-submit
        width: 104px
        +mobile
          width: 96px
        +widescreen
          width: 180px
        .button
          &:hover,
          &:active,
          &:focus
            z-index: 0

    input
      height: 48px
      font-size: px-to-rem(14)

      +widescreen
        height: 64px
        font-size: px-to-rem(18)


  .subscribe-form.is-submitted
    form
      display: none
    .thank-you
      display: inherit
